@import url("https://fonts.googleapis.com/css2?family=Kumbh+Sans:wght@400;700&display=swap");

*,
*::before,
*::after {
  box-sizing: border-box;
}

* {
  margin: 0;
}

html,
body {
  height: 100%;
}

body {
  line-height: 1.2;
  -webkit-font-smoothing: antialiased;
}

img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}

input,
button,
textarea,
select {
  font: inherit;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}

:root {
  --Orange: hsl(26, 100%, 55%);
  --Pale-orange: hsl(25, 100%, 94%);
  --Very-dark-blue: hsl(220, 13%, 13%);
  --Dark-grayish-blue: hsl(219, 9%, 45%);
  --Grayish-blue: hsl(220, 14%, 75%);
  --Light-grayish-blue: hsl(223, 64%, 98%);
  --White: hsl(0, 0%, 100%);
  --Black: hsl(0, 0%, 0%);
}

/* General style */

body {
  font-family: "Kumbh Sans", sans-serif;
  font-size: 1rem;
  padding: 0px 200px 0px 200px;
  height: 100vh;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
  padding: 20px 35px 50px 20px;
  gap: 1rem;
  margin-bottom: 20px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

#menu {
  display: none;
  margin-right: 25px;
  align-items: center;
}

nav {
  display: flex;
  align-items: center;
}

ul,
li,
.link {
  color: var(--Dark-grayish-blue);
  display: inline;
  text-decoration: none;
  margin-right: 0.9rem;
  font-size: 0.9rem;
}

.link:hover {
  color: var(--Black);
  padding-bottom: 55px;
  border-bottom: 4px solid var(--Orange);
}

#mobile_menu {
  display: none;
  background-color: var(--White);
  width: 60%;
  height: 200%;
  padding: 20px;
  position: absolute;
  top: 0px;
  z-index: 2;
}

.icon-close {
  margin-bottom: 20px;
}

.link2 {
  display: block;
  color: var(--Black);
  font-weight: 700;
  text-decoration: none;
}

#cover.show::before {
  content: "";
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  width: 200%;
  height: 200%;
  background-color: black;
  opacity: 75%;
  z-index: 1;
}

.icons {
  display: flex;
  align-items: center;
  gap: 1rem;
}

#cart_menu {
  display: none;
  background-color: var(--White);
  flex-direction: column;
  gap: 1.4rem;
  padding: 20px;
  width: 300px;
  border-radius: 10px;
  box-shadow: 5px 10px 10px rgba(0, 0, 0, 0.178);
  position: absolute;
  top: 70px;
  right: 180px;
  z-index: 2;
}

#no_order {
  display: block;
  text-align: center;
  padding: 30px;
}

#order {
  display: none;
  gap: 0.9rem;
}

#ordered_item_pic {
  width: 40px;
  height: 40px;
  border-radius: 5px;
}

.text {
  margin: 0;
  font-weight: 700;
  font-size: 0.9rem;
}

.description {
  color: var(--Grayish-blue);
  font-size: 0.8rem;
  line-height: 1.6;
}

.total {
  margin-left: 5px;
  text-align: center;
  color: black;
  font-weight: 700;
}

#checkout {
  font-size: 0.8rem;
  background-color: var(--Orange);
  color: white;
  border: 0;
  padding: 14px;
  border-radius: 10px;
}

#checkout:hover {
  background-color: var(--Pale-orange);
  cursor: pointer;
}

.delete_img {
  display: flex;
  align-items: center;
  cursor: pointer;
}

#number {
  color: var(--White);
  text-align: center;
  font-size: 0.6rem;
  background-color: var(--Orange);
  height: 10px;
  width: 15px;
  border-radius: 10px;
  position: absolute;
  top: 22px;
  right: 78px;
  z-index: 1;
}

#cart,
#menu {
  cursor: pointer;
}

#cart {
  position: relative;
}

.avatar {
  max-width: 30px;
}

.avatar:hover {
  cursor: pointer;
  border: 2px solid var(--Orange);
  border-radius: 100px;
}

main {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0;
}

.flex {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 5rem;
  position: relative;
}

.product_images {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
  width: 400px;
}

.product_images_mobile {
  display: none;
  align-items: center;
  max-width: 600px;
  max-height: 300px;
  overflow: hidden;
}

hr {
  color: var(--Grayish-blue);
  font-weight: 100;
  margin: 0;
}

.product_image_wrapper {
  width: 100%;
  height: 100%;
  display: flex;
}

#lightbox_container {
  display: none;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
  width: 400px;
  position: absolute;
  cursor: pointer;
}

#previous_lightbox,
#next_lightbox {
  position: absolute;
  top: 200px;
  padding: 12px;
  height: 40px;
  width: 40px;
  background-color: var(--White);
  border-radius: 100px;
  cursor: pointer;
  z-index: 2;
}

#next_lightbox {
  right: -15px;
}

#previous_lightbox {
  left: -15px;
}

#close_lightbox {
  position: absolute;
  z-index: 2;
  top: -30px;
  right: 5px;
}

#close_lightbox:hover {
  cursor: pointer;
  fill: var(--Orange);
}

.product_image_wrapper1 {
  position: relative;
  width: 100%;
  height: 100%;
  display: flex;
  overflow: hidden;
  border-radius: 20px;
  z-index: 1;
}

#main_product_img {
  width: 350px;
  border-radius: 10px;
  cursor: pointer;
}

.product_image_menu,
#product_image_menu2 {
  display: flex;
  gap: 1rem;
}

#product_image_menu2 {
  z-index: 1;
}

.menu_img {
  width: 60px;
  border-radius: 5px;
}

.menu_img:hover,
.menu_img2:hover {
  cursor: pointer;
  background-color: var(--Pale-orange);
  border: 2px solid var(--Orange);
}

.menu_img2 {
  width: 60px;
  border-radius: 5px;
}

.hero {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  width: 400px;
}

.company_name {
  color: var(--Orange);
  font-size: 0.9rem;
  font-weight: 700;
}

.price {
  align-items: center;
}

.title {
  font-size: 2rem;
}

.discounted_price {
  font-size: 1.5rem;
  font-weight: 700;
}

.discount {
  color: var(--Orange);
  background-color: var(--Pale-orange);
  font-size: 0.9rem;
  text-align: center;
  border-radius: 5px;
  padding: 4px;
}

.original_price {
  text-decoration: line-through;
  font-size: 0.9rem;
  color: var(--Grayish-blue);
}

.numofOrder {
  display: flex;
  align-items: center;
  gap: 1rem;
}

.buttons {
  display: flex;
  align-items: center;
  gap: 2rem;
}

#addtoCart {
  display: flex;
  justify-content: center;
  background-color: var(--Orange);
  color: white;
  font-size: 0.9rem;
  font-weight: 700;
  border: 0;
  border-radius: 10px;
  text-align: center;
  align-items: center;
  padding: 15px 60px;
  gap: 1rem;
}

#addtoCart,
#add,
#minus {
  cursor: pointer;
}

#addtoCart:hover {
  background-color: var(--Pale-orange);
}

@media only screen and (max-width: 797px) {
  body {
    padding: 0;
    margin: 0;
    font-size: 2rem;
  }

  header {
    padding: 20px;
    box-shadow: none;
    margin-bottom: 0;
  }

  .link {
    display: none;
  }

  #number {
    right: 60px;
  }

  #menu {
    display: block;
  }

  .flex {
    flex-direction: column;
    gap: 1rem;
  }

  .product_images {
    display: none;
  }

  .product_images_mobile {
    display: flex;
  }

  #previous,
  #next {
    position: absolute;
    padding: 12px;
    height: 40px;
    width: 40px;
    background-color: var(--White);
    border-radius: 100px;
    margin: auto;
    cursor: pointer;
  }

  #next {
    right: 10px;
  }

  .company_name {
    font-size: 1.2rem;
  }

  .description {
    font-size: 1.1rem;
    line-height: 1.2;
  }

  .price {
    display: flex;
    justify-content: space-between;
    text-align: center;
    margin-bottom: 20px;
  }

  .original_price,
  .discount {
    font-size: 1.2rem;
  }

  .discounted_price {
    font-size: 2rem;
  }

  #cart_menu {
    justify-content: center;
    top: 90px;
    right: 0;
    left: 0;
    margin: auto;
    width: 400px;
    height: 250px;
    padding: 30px 20px 50px 20px;
  }

  .text {
    font-size: 1rem;
    line-height: 0.9;
  }

  #ordered_item_pic {
    width: 60px;
    height: 60px;
  }

  #checkout {
    padding: 20px;
  }

  .hero {
    padding: 0px 20px;
  }

  #number_of_order {
    font-size: 1.2rem;
  }

  .buttons {
    gap: 7rem;
  }

  #addtoCart {
    width: 350px;
  }

  .numofOrder {
    display: grid;
    place-items: center;
  }
}
